
/*  Index   */
#myChart {

  height: 10vw;
  width: 10vw;
}

.container-fluid {
  padding: 0px;
}
.row {
  padding: 0px;
}

.col-md-3 {
  padding: 0px;
}
#coinName {
  padding-top: 10px;
}

.box_digits {
  background-color: #3b3e40;
  height: 100px;
  padding: 0px;
  text-align: center;
  font-family: Calibri;
}
.header_label {
  font-size: 35px;
  color: orange;
}

.data_label {
  font-size: 22px;
  color: white;
}
.text_label {
  font-size: 27px;
  color: lightgray;
}

.nav-text {
  color: black;
}


/*  LOGIN  */

.login_box {

  height: 600px;
  width: 500px;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  margin-top: 6vw;
  margin-left: 35vw;
}

.username_field {

}