.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.row {
  background-color: #3b3e40;
  height: 80px;
  padding-right: 5vw;
  text-align: center;
  font-family: Calibri;
  width: 100%;
}

.tHeader {
  padding-left: 3vw;
  color: white;
  font-size: 2vw;
}

.tData {
  padding-left: 20vw;
  color: lightblue;
  font-size: 2vw;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
