.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.row {
  background-color: #3b3e40;
  height: 60px;
  text-align: center;
  font-family: Calibri;
  float: left;
  width: 5vw;
  margin-bottom: 1vw;
}

.tHeader {
  color: white;
  font-size: 1vw;
}

.tData {
  padding-left: 1vw;
  color: lightblue;
  font-size: 0.5vw;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
